---
layout: default
---
{% assign curDate = site.time | date: '%s' %}

<div class="container-fluid hero hero-about hero-events">
  <div class="container">
    <div class="hero-content">
      <h1>Tuesdays, HSS 1346</h1>
    </div>
  </div>
</div>

<div class="container-fluid hero slant-border bg-blue hero-get_involved">
  <div class="container">
    <div class="hero-content col-sm-12 col-md-10 col-xl-8">
      <h1>Let's Hangout</h1><br>
      <p>If you’re developing your professional design skills, starting to learn about design, or just looking to hang out, you’re in the right place. <br/><br/>Our events include skill-building workshops, talks presented by design industry guests, community networking events, alumni panels, and social hangouts. <br/><br/>Stay in the loop about design events and opportunities both on and off campus by subscribing to our newsletter.</p>
      <script type="text/javascript">var submitted=false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"onload="if(submitted) {submitted=false}"></iframe>
      <form class="email-form" action="https://docs.google.com/forms/d/e/1FAIpQLScweTXK3jgpZ_stgRw1-SWt0pfxT8mQVrcM81Ill-vPyyOKQg/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
        <input required type="email" name="entry.150099549" id="email" placeholder="example@email.com" />
        <input type="submit" value="Subscribe" />
        <p class="form-success">Thanks for joining our mailing list!<br><a class="form-again">Submit another</a></p>
      </form>
    </div>
  </div>
</div>

<div class="container slant-pad">
  <div class="row">
    <div class="col-sm-12">
      <h2>Upcoming Events</h2>
      <h4 class="subheader">Our doors are open to everyone</h4>
      
      {% assign upcomingCount = 0 %}
      {% for post in site.posts %}
        {% assign postStartDate = post.date | date: '%s' %}

        {% if upcomingCount < 3 %}
          {% if postStartDate > curDate %}
            {% assign upcomingCount = upcomingCount | plus: 1 %}
            {% assign img_url = site.base_url | append: "public/images/events/" | append: post.image %}

            <div class="row tile tile-hoz">
              <div class="col-xs-12 col-sm-4">
                <!-- Disable links -->
                <!-- <a class="tile-link" href="{{ post.url }}"> -->
                <a class="tile-link">
                  <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
                </a>
              </div>
              <div class="col-xs-12 col-sm-8 tile-content">
                <h3>{{ post.title }}</h3>
                <p class="strong inline italic uppercase">{{ post.time }}</p>
                <p class="strong inline italic pad-left">{{ post.location }}</p>
                <p class="tile-text">{{ post.excerpt }} <!-- <a href="{{ post.url }}">More</a> --></p>
                <p class="tile-text">{{ post.hosted }}</p>
                {% if post.facebook %}
                <p class="fb-link"><a href="{{ post.facebook }}">Facebook Event</a></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
          {% endif %}
      {% endfor %}

    </div>
  </div>
</div>

<div class="container slant-pad">
  <div class="row">
    <div class="col-sm-12">
      <h2>Past Events</h2>
    </div>
  </div>
  <div class="row">
    
    {% assign oldCount = 0 %}
    {% for post in site.posts %}
      {% assign postStartDate = post.date | date: '%s' %}
      
        {% if oldCount < 3 %}
          {% if postStartDate < curDate %}
            {% assign oldCount = oldCount | plus: 1 %}
            {% assign img_url = site.base_url | append: "public/images/events/" | append: post.image %}

            <div class="col-sm-6 col-md-4 tile tile-vert">
              <!-- <a href="{{ post.url }}"> -->
              <a class="tile-link">
                <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
              </a>
              <!-- </a> -->
              <h3>{{ post.title }}</h3>
              <!-- <p class="strong">{{ post.time }}</p>
              <p class="strong">{{ post.location }}</p> -->
              <p class="tile-text">{{ post.excerpt }}<!--  <a href="{{ post.url }}">More</a> --></p>
              <p class="tile-text">{{ post.hosted }}</p>
              {% if post.facebook %}
              <p class="fb-link small"><a href="{{ post.facebook }}">Facebook Event</a></p>
            {% endif %}
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

  <script>
// Please forgive me
document.getElementById("nav-link-events").style.borderBottom = "3px solid";
document.getElementById("nav-link-events").style.marginBottom = "-3px";
</script>
