---
layout: default
---

<div class="container-fluid hero slant-border bg-blue hero-get_involved">
  <div class="container">
    <div class="hero-content">
      <h1>Let's Hangout</h1><br>
      <p>Meetings are 8Pm TUesday in HSS 1346 unless otherwise noted . Keep in touch through email. This is very similar to the dynamic that powers an LCD screen, except that the sun is a small light bulb, the leaves are molecules of</p>
      <form>
        <input type="text" name="email" id="email" placeholder="example@email.com" />
        <input type="submit" value="Subscribe" />
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Upcoming Events</h2>

      {% for post in site.posts limit:3 %}
        
        {% assign img_url = site.baseurl | append: "images/events/" | append: post.image %}

        <div class="row tile tile-hoz">
          <div class="col-xs-12 col-sm-5">
            <a href="{{ post.url }}">
              <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-7 tile-content">
            <h3>{{ post.title }}</h3>
            <p class="strong inline italic uppercase">{{ post.time }}</p>
            <p class="strong inline italic pad-left">{{ post.location }}</p>
            <p class="tile-text">{{ post.excerpt }} (<a href="{{ post.url }}">More</a>)</p>
            <p class="tile-text">{{ post.hosted }}</p>
            {% if post.facebook %}
            <p class="fb-link" href="{{ post.facebook }}"><a>Facebook Event</a></p>
            {% endif %}
          </div>
        </div>

      {% endfor %}

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Past Events</h2>
    </div>
  </div>
  <div class="row">

    {% for post in site.posts limit:4 %}

      {% assign img_url = site.baseurl | append: "images/events/" | append: post.image %}

      <div class="col-sm-4 col-md-3 tile tile-vert">
        <a href="{{ post.url }}">
          <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
        </a>
        <h3>{{ post.title }}</h3>
        <p class="strong">{{ post.time }}</p>
        <p class="strong">{{ post.location }}</p>
        <p class="tile-text">{{ post.excerpt }} (<a href="{{ post.url }}">More</a>)</p>
        <p class="tile-text">{{ post.hosted }}</p>
        {% if post.facebook %}
          <p class="fb-link small" href="{{ post.facebook }}"><a>Facebook Event</a></p>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</div>