---
layout: default
---
{% assign curDate = site.time | date: '%s' %}

<div class="container-fluid hero hero-front">
  <div class="container">
    <div class="hero-content">
      <h1 class="highlighted">An Open Design Community at</h1><br>
      <h1 class="highlighted">UC San Diego</h1><br>
      <a class="hero-button" href="/events.html" role="button">Get Involved</a>
    </div>
  </div>
</div>

<div class="container-fluid quote-section slant-border bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2 class="quote">“Design is a powerful equalizing tool: all that is needed is observation, creativity, and hard work &mdash; anyone can do it.”</h2>
        <h4 class="quoted">- Don Norman</h4>
      </div>
    </div>
  </div>
</div>

<div class="container slant-pad">
  <div class="row">
    <div class="col-sm-12">
      <h2>Upcoming Events</h2>
      <h4 class="subheader">Our doors are open to everyone</h4>

      {% assign upcomingCount = 0 %}
      {% for post in site.posts reversed %}
        {% assign postStartDate = post.date | date: '%s' %}

        {% if upcomingCount < 3 %}
          {% if postStartDate >= curDate %}
            {% assign upcomingCount = upcomingCount | plus: 1 %}
            {% assign img_url = site.base_url | append: "public/images/events/" | append: post.image %}

            <div class="row tile tile-hoz">
              <div class="col-xs-12 col-sm-4">
                <!-- Disable links -->
                <!-- <a class="tile-link" href="{{ post.url }}"> -->
                <a class="tile-link">
                  <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
                </a>
              </div>
              <div class="col-xs-12 col-sm-8 tile-content">
                <h3>{{ post.title }}</h3>
                <p class="strong inline italic uppercase">{{ post.time }}</p>
                <p class="strong inline italic pad-left">{{ post.location }}</p>
                <p class="tile-text">{{ post.excerpt }} <!-- <a href="{{ post.url }}">More</a> --></p>
                <p class="tile-text">{{ post.hosted }}</p>
                {% if post.facebook %}
                <p class="fb-link"><a href="{{ post.facebook }}">Facebook Event</a></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
          {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
