---
layout: default
---

<div class="container-fluid hero hero-front">
  <div class="container">
    <div class="hero-content">
      <h1 class="highlighted">An open design community at UC San Diego</h1><br>
      <a class="hero-button" href="#" role="button">Learn More</a>
    </div>
  </div>
</div>

<div class="container-fluid quote-section slant-border bg-blue">
  <!-- Example row of columns -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <h2 class="quote">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus</h2>
        <h4 class="quoted pull-right">-Someone</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>Upcoming Events</h2>

      {% for post in site.posts limit:3 %}

        {% assign img_url = site.baseurl | append: "images/events/" | append: post.image %}

        <div class="row tile tile-hoz">
          <div class="col-xs-12 col-sm-5">
            <a href="{{ post.url }}">
              <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-7 tile-content">
            <h3>{{ post.title }}</h3>
            <p class="strong inline italic uppercase">{{ post.time }}</p>
            <p class="strong inline italic pad-left">{{ post.location }}</p>
            <p class="tile-text">{{ post.excerpt }} (<a href="{{ post.url }}">More</a>)</p>
            <p class="tile-text">{{ post.hosted }}</p>
            {% if post.facebook %}
            <p class="fb-link" href="{{ post.facebook }}"><a>Facebook Event</a></p>
            {% endif %}
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
