---
layout: default
---
<div class="container-fluid hero slant-border bg-blue hero-get_involved hero-signin">
  <br><br>
  <div class="container">
    <div class="hero-content col-sm-12 col-md-10 col-xl-8">
      <h1>Welcome to the GBM!</h1><br>
      <p>Please sign in here!</p>
      <script type="text/javascript">var submitted=false;</script>
      <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"onload="if(submitted) {submitted=false}"></iframe>
      <form class="email-form multiline-form" action="https://docs.google.com/forms/d/e/1FAIpQLScmGTXbuRxH5eL2HRAFrJGgCQzizH2HWpLaphXWs3J-KsPPiw/formResponse" method="POST" target="hidden_iframe" onsubmit="submitted=true;">
        <label for="name">Name</label>
        <input required type="text" name="entry.523122452" id="name" placeholder="Don Norman" />
        <br>
        <label for="email">Email</label>
        <input required type="email" name="entry.111900208" id="email" placeholder="example@email.com" />
        <br>
        <input type="submit" value="Subscribe" />
        <p class="form-success">Thanks for joining our mailing list!<br><a class="form-again">Submit another</a></p>
      </form>
    </div>
  </div>
</div>

<div class="container slant-pad">
  <div class="row">
    <div class="col-sm-12">
      <h2>Other Cool Upcoming Events</h2>
      <h4 class="subheader">Our doors are open to everyone</h4>
      
      {% assign upcomingCount = 0 %}
      {% for post in site.posts %}
        {% assign postStartDate = post.date | date: '%s' %}

        {% if upcomingCount < 3 %}
          {% if postStartDate >= curDate %}
            {% assign upcomingCount = upcomingCount | plus: 1 %}
            {% assign img_url = site.base_url | append: "public/images/events/" | append: post.image %}

            <div class="row tile tile-hoz">
              <div class="col-xs-12 col-sm-4">
                <!-- Disable links -->
                <!-- <a class="tile-link" href="{{ post.url }}"> -->
                <a class="tile-link">
                  <div class="tile-image" style="background: url({{ img_url }}) no-repeat center center"></div>
                </a>
              </div>
              <div class="col-xs-12 col-sm-8 tile-content">
                <h3>{{ post.title }}</h3>
                <p class="strong inline italic uppercase">{{ post.time }}</p>
                <p class="strong inline italic pad-left">{{ post.location }}</p>
                <p class="tile-text">{{ post.excerpt }} <!-- <a href="{{ post.url }}">More</a> --></p>
                <p class="tile-text">{{ post.hosted }}</p>
                {% if post.facebook %}
                <p class="fb-link"><a href="{{ post.facebook }}">Facebook Event</a></p>
                {% endif %}
              </div>
            </div>
            {% endif %}
          {% endif %}
      {% endfor %}

    </div>
  </div>
</div>


<style>
  .multiline-form label {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
  }
  .multiline-form input {
    margin-top: 0;
    margin-bottom: 15px;
  }
</style>