---
---
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Design.UCSD</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/public/css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="{{ site.base_url }}public/images/home.jpg">
  <meta name="description" content="A student-led group of designers focused on UX design, research, and design thinking with an appreciation for all design fields and related disciplines." >
  <meta property="og:description" content="A student-led group of designers focused on UX design, research, and design thinking with an appreciation for all design fields and related disciplines.">
  <link rel="icon" type="image/png" href="/public/images/logo_square.png" />
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="https://designucsd.org">
  <meta name="twitter:image" content="{{ site.base_url }}public/images/home.jpg">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid slant-border bg-white no-before">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index.html">
            design.ucsd
            <ul>
              <li>learn.</li>
              <li>make.</li>
              <li>iterate.</li>
            </ul>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a id="nav-link-events" href="/events.html">Events</a></li>
            <li><a id="nav-link-courses" href="/courses.html">Courses</a></li>
            <li><a id="nav-link-about" href="/about.html">About</a></li>
            <li><a id="nav-link-contact" href="/contact.html">Contact</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  </nav>

  {{ content }}

  <div class="footer-wrap">
    <footer class="container-fluid slant-border-reverse bg-blue no-after footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="navbar-brand-wrap">
              <p class="navbar-brand">design.ucsd</p>
            </div>

            <ul class="white list inline uppercase social-links uppercase" >
              <a href="/events.html"><li>Events</li></a>
              <a href="/courses.html"><li>Courses</li></a>
              <a href="/about.html"><li>About</li></a>
              <a href="/contact.html"><li>Contact</li></a>
            </ul>

            <div class="contact-links">
              <div class="inline-block">
                <p class="bold">Follow us on:</p>
                 <ul class="white list inline underline">
                  <a><li>Facebook</li></a>
                  <a><li>Instagram</li></a>
                </ul>
              </div>
              <div class="inline-block">
                <p class="bold">Get in touch:</p>
                <p>designatucsd@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 footer-signup">
            <form action="https://docs.google.com/forms/d/e/1FAIpQLScweTXK3jgpZ_stgRw1-SWt0pfxT8mQVrcM81Ill-vPyyOKQg/formResponse" method="POST">
              <h4>Sign up for our newsletter</h4>
              <label for="">Join hundreds of students and stay in the loop about design events, internships, jobs, and opportunities both on and off campus.</label><br>
              <input type="email" name="email" id="email" placeholder="example@email.com" />
              <input type="submit" value="Subscribe" />
            </form>
          </div>
        </div>
      </div>
    </footer>
  </div> <!-- /container -->
</body>
</html>