/* Feel free to add more color classes here */
.bg-blue,
.bg-blue:after,
.bg-blue:before {
  color: white;
  background-color: $dark_blue;
}
.bg-white,
.bg-white:after,
.bg-white:before {
  background-color: #FFFFFF;
}

.inline a,
.inline li {
  display: inline;
}
.inline-block {
  display: inline-block;
}


/* Hero:*/
.hero {
  background-size: cover;
  padding-top: 15vh;
  padding-bottom: 10vh;
  /*background: $dark_blue;*/
}
.hero-front {
  padding-top: 40vh;
  min-height: 90vh;
  background: url(../images/home.jpg) center center;
  background-size: cover;
  margin-bottom: -100px;
}
.hero-front .hero-content {
  max-width: $bp_tablet;
  padding-bottom: 100px;
  text-align: center;
  margin: 0 auto;
}
.hero h1 {
  font-size: 60px;
  color: white;
  background-color: rgba(46,74,87,0.8);
  padding-top: 10px;
  display: inline;
}
.hero p {
  font-size: 22px;
}
h1.highlighted {
  position: relative;
  left: 10px;
  line-height: 1.3;
  box-shadow: 10px 0 0 rgba(46,74,87,0.8), -10px 0 0 rgba(46,74,87,0.8);
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
}
.hero-button {
  color: white;
  font-size: 24px;
  background: $salmon;
  margin-bottom: 50px;
  padding: 15px 30px 10px 30px;
  position: relative;
  text-align: center;
  top: 60px;
}
.hero-contact a {
  color: white;
}
.hero-contact .email {
  text-decoration: none;
  font-style: italic;
  font-weight: 300;
}
.hero-button:hover {
  text-decoration: none;
  color: white;
}
.hero-about, .hero-events {
  padding-top: 40vh;
  min-height: 90vh;
  margin-bottom: -100px;
  text-align: center;
}
.hero-about .hero-content {
  color: white;
  padding-bottom: 100px;
  text-align: center;
}
.hero-content input {
  max-width: 450px;
}
.hero-content .email {
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
  margin-bottom: 26px;
}
.hero-about h2{
  font-size: 3em;
  line-height: 1.5;
}
.about-goals {
  padding-bottom: 80px;
  padding-top: 80px;
}
.hero-about {
  background: url(../images/about.jpg) no-repeat center center;
  margin-bottom: -100px;
  min-height: initial;
  background-size: cover;
}
.hero-resources {
  background: url(../images/courses.jpg) no-repeat center center;
  margin-bottom: -100px;
  min-height: initial;
  background-size: cover;
}
.hero-events {
  background: url(../images/events.jpg) no-repeat center center;
  min-height: initial;
  background-size: cover;
}
.hero-contact {
  background: url(../images/contact.jpg) no-repeat center center;
  min-height: initial;
  background-size: cover;
}
.hero-resources h1, .hero-about h1 {
  background: rgba(46, 74, 87, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (max-width: $bp_tablet) {
  .hero h1 {
    font-size: 42px;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .hero p {
    font-size: 24px;
  }
}
@media screen and (max-width: 540px) {
  .hero h1 {
    font-size: 32px;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .hero-button {
    padding: 10px 20px 5px 20px;
    font-size: 20px;
  }
  .hero p {
    font-size: 20px;
  }
}
.social-logo {
  height: 45px;
  margin-top: 30px;
  opacity: 0.7;
  margin-right: 20px;
}
.social-logo:hover {
  opacity: 1;
}

/* Quote */
.quote-section {
  color: #FFFFFF;
  background-color: $dark_blue;
  z-index: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}
.quote-section .quote {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
.quote-section .quoted {
  font-style: italic;
  font-size: 36px;
  font-weight: 200;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: $bp_tablet) {
  .quote-section .quote,
  .quote-section .quoted {
    font-size: 28px;
  }
  .quote-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* Meet the team */
.team-member {
  width: 100%;
  background-color: $card_bg;
  margin-top: 20px;
  margin-bottom: 20px;
}
.team-member img {
  width: 100%;
}
.team-member-text {
  padding: 10px;
}
.team-member .light {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
}
.team-member .light-gray {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 0;
  color: $card_cl;
}

/* Team Hover States */
#michael:hover {
  content: url(../images/team/michael-hover.jpg);
}
#elmer:hover {
  content: url(../images/team/elmer-hover.jpg);
}
#alex:hover {
  content: url(../images/team/alex-hover.jpg);
}
#alyssa:hover {
  content: url(../images/team/alyssa-hover.jpg);
}
#charu:hover {
  content: url(../images/team/charu-hover.jpg);
}
#chris:hover {
  content: url(../images/team/chris-hover.jpg);
}
#danielle:hover {
  content: url(../images/team/danielle-hover.jpg);
}
#ed:hover {
  content: url(../images/team/ed-hover.jpg);
}
#ellen:hover {
  content: url(../images/team/ellen-hover.jpg);
}
#jingchun:hover {
  content: url(../images/team/jingchun-hover.jpg);
}
#joel:hover {
  content: url(../images/team/joel-hover.jpg);
}
#joseph:hover {
  content: url(../images/team/joseph-hover.jpg);
}
#kaichin:hover {
  content: url(../images/team/kaichin-hover.jpg);
}
#lizzy:hover {
  content: url(../images/team/lizzy-hover.jpg);
}
#thomas:hover {
  content: url(../images/team/thomas-hover.jpg);
}
#vince:hover {
  content: url(../images/team/vince-hover.jpg);
}

/* Tiles */
.tile-hoz {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  display: table;
}
.tile-hoz h3 {
  margin-top: 5px;
}
.tile-hoz .tile-content {
}
.tile-content .strong.inline {
  font-weight: 500;
}
.tile-hoz .fb-link {
  margin-top: 22px;
}
.tile .tile-text,
.tile .tile-text a {
  margin-top: 20px;
  font-size: 20px;
}
.tile .tile-text a:before {
  content: "...(";
  color: $text_gray;
}
.tile .tile-text a:after {
  content: ")";
  color: $text_gray;
}
h4.subheader {
  font-size: 22px;
  margin-bottom: 35px;
}
.tile .tile-text {
  color: $text_gray;
}
.tile .tile-image {
  width: 100%;
  background-size: cover;
  height: 320px;
}
.tile-vert .tile-image {
  height: 200px;
}
.tile h3 {
  font-size: 32px;
}
.tile-vert h3 {
  font-size: 28px;
}
@media screen and (max-width: $bp_tablet) {
  .tile-hoz h3 {
    margin-top: 20px;
  }
}

/* Contact */
.contact-about {
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact-about h4 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.contact-about p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  color: $text_gray;
}

/* Youtube video embed classes */
.video-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Resources */
.resources-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.resources-content img {
  max-width: 100%;
  height: auto;
}
.resources-content h3 {
  font-size: 36px;
  font-weight: 500;
}
.resources-content p {
  font-size: 26px;
}
.resources-content .what-is-design {
  margin-bottom: 40px;
}
.courses .courses-list {
  margin-top: 60px;
}
.courses {
  padding-top: 40px;
  padding-bottom: 40px;
}
.courses ul {
  list-style-type: none;
}
.courses li {
  line-height: 2;
}
.courses .courses-majors ul {
  padding-left: 0;

  li a {
    color: inherit;
    text-decoration: underline;
  }
}
.course-list li {
  position: relative;
}
.course-list li .course-name {
  position: absolute;
  left: 110px;
  font-weight: bold;
  text-decoration: underline;
}
.courses .course-list h4 {
  margin-top: 0;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: $bp_tablet) {
  .courses .course-list h4 {
    margin-top: 20px;
  }
  .courses .course-list li {
    padding-left: 0;
  }
  .courses .course-list ul {
    padding-left: 0;
  }
  .courses .course-list li .course-name {
    padding-left: 40px;
    position: static;
    left: auto;
    display: block;
  }
}

/* Posts */
.post-container {
  padding-top: 200px;
}
