.footer-wrap {
  bottom: 0;
  margin-bottom: 0;
  overflow: hidden;
}
.footer-wrap .slant-border {
  margin-bottom: 0;
  padding-bottom: 20px;
}
.footer .footer-signup {
  text-align: right;
  padding-top: 20px;
}
input[type="text"],
input[type="submit"] {
  outline: none;
  border: none;
  height: 40px;
  padding: 8px 5px 2px 5px;
  font-size: 20px;
  line-height: 30px;
}
input[type="submit"] {
  background-color: #ff535b;
  padding-left: 14px;
  padding-right: 14px;
}
input[type="text"] {
  color: $dark_blue;
}
.footer label,
.footer p {
  font-size: 22px;
  margin-bottom: 4px;
  font-weight: 400;
}
.footer .crafted {
  margin-top: 40px;
  font-size: 26px;
}
@media screen and (max-width: $bp_tablet) {
  .footer {
    text-align: center;
  }
  .footer .crafted {
    font-size: 18px;
    margin-top: 0;
  }
  .footer .footer-signup {
    text-align: center;
    padding-top: 10px;
  }
  label,
  input[type="text"],
  input[type="submit"] {
    font-size: 18px;
  }
}